<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.bigdata.tts.common.dao.StockBaseMapper" >
  <resultMap id="BaseResultMap" type="com.yh.bigdata.tts.common.model.StockBase" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="exchange" property="exchange" jdbcType="VARCHAR" />
    <result column="is_st" property="isSt" jdbcType="BIT" />
    <result column="is_trade" property="isTrade" jdbcType="BIT" />
    <result column="close" property="close" jdbcType="DOUBLE" />
    <result column="prev_close" property="prevClose" jdbcType="DOUBLE" />
    <result column="open" property="open" jdbcType="DOUBLE" />
    <result column="high" property="high" jdbcType="DOUBLE" />
    <result column="low" property="low" jdbcType="DOUBLE" />
    <result column="volume" property="volume" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="quancheng" property="quancheng" jdbcType="VARCHAR" />
	<result column="main_business" property="mainBusiness" jdbcType="VARCHAR" />
	<result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
	<result column="business_brief" property="businessBrief" jdbcType="VARCHAR" />
	<result column="industry" property="industry" jdbcType="VARCHAR" />
	<result column="industry_csrc" property="industryCsrc" jdbcType="VARCHAR" />
	<result column="org_profile" property="orgProfile" jdbcType="VARCHAR" />
	<result column="pe_ttm" property="peTtm" jdbcType="DOUBLE" />
	<result column="pb" property="pb" jdbcType="DOUBLE" />
	<result column="ps_ttm" property="psTtm" jdbcType="DOUBLE" />
	<result column="dividend_yield" property="dividendYield" jdbcType="DOUBLE" />
	<result column="high_52w" property="high52w" jdbcType="DOUBLE" />
	<result column="low_52w" property="low52w" jdbcType="DOUBLE" />
	<result column="total_mv_yi" property="totalMvYi" jdbcType="DOUBLE" />
	<result column="turnover_rate" property="turnoverRate" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, name, exchange, is_st, is_trade, `close`, prev_close, open, high, low, volume, amount, day, quancheng, turnover_rate, main_business, business_scope, business_brief,
    industry, industry_csrc, org_profile, pe_ttm, pb, ps_ttm, dividend_yield, high_52w, low_52w, total_mv_yi
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select  
    <include refid="Base_Column_List" /> 
    from base where code = #{code}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" >
    select  
    <include refid="Base_Column_List" /> 
    from base where name = #{name}
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from base where code = #{code}
  </delete>
  <insert id="insert" parameterType="com.yh.bigdata.tts.common.model.StockBase" >
    insert into base(code, name, exchange, open, high, low, `close`, prev_close, volume, amount, day, is_st, is_trade
    , quancheng, main_business, create_time, update_time, turnover_rate)
    values (#{code}, #{name}, #{exchange}, #{open}, #{high}, #{low},  #{close}, #{prevClose}, #{volume}, #{amount}, #{day}, #{isSt}, #{isTrade}
    , #{quancheng}, #{mainBusiness}, now(), now(), #{turnoverRate})
  </insert>
  
 <update id="updateByPrimaryKeySelective" parameterType="com.yh.bigdata.tts.common.model.StockBase" >
    update base set update_time = now()
        <if test="name != null">
    		, name = #{name}
 		</if>
    	<if test="exchange != null">
    		, exchange = #{exchange}
    	</if>
    	<if test="isSt != null">
        	, is_st = #{isSt} 
        </if>
    	<if test="isTrade != null">
        	, is_trade = #{isTrade}
        </if>
    	<if test="close != null">
        	, `close` = #{close}
        </if>
    	<if test="prevClose != null">
        	, prev_close = #{prevClose}
        </if>
    	<if test="open != null">
        	, open = #{open}
        </if>
    	<if test="high != null">
        	, high = #{high}
        </if>
    	<if test="low != null">
        	, low = #{low}
        </if>
    	<if test="volume != null">
        	, volume = #{volume}
        </if>
    	<if test="amount != null">
        	, amount = #{amount}
        </if>
    	<if test="day != null">
        	, day = #{day}
        </if>
    	<if test="quancheng != null">
        	, quancheng = #{quancheng}
        </if>
    	<if test="mainBusiness != null">
        	, main_business = #{mainBusiness}
        </if>
    	<if test="businessScope != null">
        	, business_scope = #{businessScope}
        </if>
    	<if test="businessBrief != null">
        	, business_brief = #{businessBrief}
        </if>
    	<if test="industry != null">
        	, industry = #{industry}
        </if>
    	<if test="industryCsrc != null">
        	, industry_csrc = #{industryCsrc}
        </if>
    	<if test="orgProfile != null">
        	, org_profile = #{orgProfile}
        </if>
    	<if test="peTtm != null">
        	, pe_ttm = #{peTtm}
        </if>
    	<if test="pb != null">
        	, pb = #{pb}
        </if>
    	<if test="psTtm != null">
        	, ps_ttm = #{psTtm}
        </if>
    	<if test="dividendYield != null">
        	, dividend_yield = #{dividendYield}
        </if>
    	<if test="high52w != null">
        	, high_52w = #{high52w}
        </if>
    	<if test="low52w != null">
        	, low_52w = #{low52w}
        </if>
    	<if test="totalMvYi != null">
        	, total_mv_yi = #{totalMvYi}
        </if>
        <if test="turnoverRate != null">
        	, turnover_rate = #{turnoverRate}
        </if>
    where code = #{code}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" >
  	select
      <include refid="Base_Column_List" /> 
  	 from base s
  </select>

  <select id="countAll" resultType="int">
    SELECT COUNT(1) FROM base
  </select>

  <select id="countWithIndustry" resultType="int">
    SELECT COUNT(1) FROM base
    WHERE industry IS NOT NULL AND TRIM(industry) != '' AND industry != '综合'
  </select>

  <select id="countWithMainBusiness" resultType="int">
    SELECT COUNT(1) FROM base
    WHERE main_business IS NOT NULL AND TRIM(main_business) != ''
  </select>

  <select id="countWithBusinessBrief" resultType="int">
    SELECT COUNT(1) FROM base
    WHERE business_brief IS NOT NULL AND TRIM(business_brief) != ''
      AND CHAR_LENGTH(TRIM(business_brief)) >= 12
  </select>

  <select id="countWithPeTtm" resultType="int">
    SELECT COUNT(1) FROM base WHERE pe_ttm IS NOT NULL AND pe_ttm > 0
  </select>

  <select id="searchByKeyword" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from base s
    where s.is_trade = 1
      and (
        s.code like concat('%', #{keyword}, '%')
        or s.name like concat('%', #{keyword}, '%')
      )
    order by s.amount desc
    limit #{limit}
  </select>

  <select id="selectByPageQuery" resultMap="BaseResultMap" parameterType="com.yh.bigdata.tts.common.param.StockPageQuery">
    select s.code, s.name, s.`close`, s.open, s.high, s.low, s.is_st, s.day
    	from base s
    	<where>
	    	<if test="code != null">
	    		<![CDATA[
	    			and s.code = #{code}
	    		]]>
	    	</if>
    	</where>
  </select>
  
</mapper>