<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.bigdata.tts.common.dao.StockWeekMapper" >
  <resultMap id="BaseResultMap" type="com.yh.bigdata.tts.common.model.StockWeek" >
    <result column="day" property="day" jdbcType="DATE" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="open" property="open" jdbcType="DOUBLE" />
    <result column="high" property="high" jdbcType="DOUBLE" />
    <result column="low" property="low" jdbcType="DOUBLE" />
    <result column="trade" property="trade" jdbcType="DOUBLE" />
    <result column="last_trade" property="lastTrade" jdbcType="DOUBLE" />
    <result column="percent" property="percent" jdbcType="DOUBLE" />
    <result column="volume" property="volume" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="ma5" property="ma5" jdbcType="DOUBLE" />
    <result column="ma10" property="ma10" jdbcType="DOUBLE" />
    <result column="ma20" property="ma20" jdbcType="DOUBLE" />
    <result column="ma30" property="ma30" jdbcType="DOUBLE" />
    <result column="ma60" property="ma60" jdbcType="DOUBLE" />
    <result column="ma120" property="ma120" jdbcType="DOUBLE" />
    <result column="dea" property="dea" jdbcType="DOUBLE" />
    <result column="dif" property="dif" jdbcType="DOUBLE" />
    <result column="macd" property="macd" jdbcType="DOUBLE" />
    <result column="cross_params" property="crossParams" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, day, name, open, high, low, trade, last_trade, percent, volume, amount, ma5, ma10, ma20, ma30, ma60, ma120, dea, dif, macd, cross_params, source_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select * from weekk where code = #{code} and day = #{day}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from weekk where code = #{code} and day = #{day}
  </delete>
  <insert id="insert" parameterType="com.yh.bigdata.tts.common.model.StockWeek" >
    insert into weekk (code, day, name, open, high, low, trade, last_trade, percent, volume, amount, ma5, ma10, ma20, ma30, ma60, ma120, dea, dif, macd, cross_params, source_type, create_time, update_time)
    values (#{code}, #{day}, #{name}, #{open}, #{high}, #{low}, #{trade}, #{lastTrade}, #{percent}, #{volume}, #{amount}, #{ma5}, #{ma10}, #{ma20}, #{ma30}, #{ma60}, #{ma120}, #{dea}, #{dif}, #{macd}, #{crossParams}, #{sourceType}, now(), now())
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.yh.bigdata.tts.common.model.StockWeek" >
   update weekk set update_time = now()
        <if test="name != null">
           , name = #{name}
        </if>   
        <if test="open != null">
           , open = #{open}
        </if>  
        <if test="high != null">
           , high = #{high}
        </if>  
        <if test="low != null">
           , low = #{low}
        </if>
        <if test="trade != null">
           , trade = #{trade}
        </if>                    
        <if test="lastTrade != null">
           , last_trade = #{lastTrade}
        </if>                     
        <if test="percent != null">
           , percent = #{percent}
        </if> 
        <if test="volume != null">
           , volume = #{volume}
        </if>        
        <if test="amount != null">
           , amount = #{amount}
        </if>
        <if test="ma5 != null">
           , ma5 = #{ma5}
        </if>
        <if test="ma10 != null">
           , ma10 = #{ma10}
        </if>
        <if test="ma20 != null">
           , ma20 = #{ma20}
        </if>
        <if test="ma30 != null">
           , ma30 = #{ma30}
        </if>
        <if test="ma60 != null">
           , ma60 = #{ma60}
        </if>
        <if test="ma120 != null">
           , ma120 = #{ma120}
        </if>
        <if test="dea != null">
           , dea = #{dea}
        </if>
        <if test="dif != null">
            , dif = #{dif}
        </if>
      <if test="macd != null">
           , macd = #{macd}
        </if>
        <if test="crossParams != null">
           , cross_params = #{crossParams}
        </if>      
        <if test="sourceType != null">
           , source_type = #{sourceType}
        </if>
         where code = #{code} and day = #{day}
  </update>
 

  <select id="selectByPageQuery" resultMap="BaseResultMap" parameterType="com.yh.bigdata.tts.common.param.StockPageQuery">
    select * from weekk
    <where>
	    <if test="code != null and code != '' ">
	  		and code = #{code}
	   	</if>
   	</where>
  </select>
  
  <select id="selectLastTradeWeek" resultType="java.lang.String">
    select max(day) from weekk where code = 'sh600000'
    	<if test="fromDay != null and fromDay != '' ">
			<![CDATA[  
    			and day < #{fromDay}
		 	]]>
    	</if>
  </select>
  
  <select id="selectLatestTradeWeek" resultMap="BaseResultMap" >
   	select w.* from weekk w where 
   	<![CDATA[
   		w.code = #{code} and w.day < #{fromDay}
  	 ]]>
	  order by w.day desc
   		 limit 1		
  </select>
  
    
  <select id="selectLatestWeekList" resultMap="BaseResultMap" >
   	select w.code, w.day, w.open, w.trade, w.last_trade, w.high, w.low, w.ma5, w.ma10, w.ma20, w.ma30, w.ma60, w.ma120, w.dea, w.dif, w.macd, w.source_type from weekk w
		<where>
		    <if test="code != null and code != '' ">
		  		and w.code = #{code}
		   	</if>
		    <if test="nweeks != null ">
		       	<![CDATA[ 
				and	(select count(*) from weekk where code=w.code and day > w.day) < #{nweeks}
			 	]]>
		    </if>
	    </where>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
  	select
      <include refid="Base_Column_List" /> 
  	 from weekk s
  	  <where>
	    <if test="codes != null and codes.size() > 0 ">
	  		and s.code in 
  			<foreach collection="codes" item="item" open="(" close=")" separator=",">
     			#{item}
     		</foreach>
	   	</if>
   	</where>
  </select>
  
</mapper>