<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.bigdata.tts.common.dao.CryptoMonthMapper" >
    <resultMap id="BaseResultMap" type="com.yh.bigdata.tts.common.binance.model.Candlestick" >
        <result column="day" property="day" jdbcType="VARCHAR" />
        <result column="symbol" property="symbol" jdbcType="VARCHAR" />
        <result column="open" property="open" jdbcType="DECIMAL" />
        <result column="high" property="high" jdbcType="DECIMAL" />
        <result column="low" property="low" jdbcType="DECIMAL" />
        <result column="close" property="close" jdbcType="DECIMAL" />
        <result column="last_close" property="lastClose" jdbcType="DECIMAL" />
        <result column="volume" property="volume" jdbcType="DECIMAL" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="ma5" property="ma5" jdbcType="DECIMAL" />
        <result column="ma10" property="ma10" jdbcType="DECIMAL" />
        <result column="ma20" property="ma20" jdbcType="DECIMAL" />
        <result column="ma30" property="ma30" jdbcType="DECIMAL" />
        <result column="ma60" property="ma60" jdbcType="DECIMAL" />
        <result column="dea" property="dea" jdbcType="DECIMAL" />
        <result column="dif" property="dif" jdbcType="DECIMAL" />
        <result column="macd" property="macd" jdbcType="DECIMAL" />
        </resultMap>
    <sql id="Base_Column_List" >
        symbol, day, open, high, low, `close`, last_close, volume, amount, ma5, ma10, ma20, ma30, ma60, dea, dif, macd
    </sql>

    <sql id="Insert_Base_Column_List" >
        symbol, day, open, high, low, `close`, last_close, volume, amount, ma5, ma10, ma20, ma30, ma60, dea, dif, macd, create_time, update_time
    </sql>

    <sql id="Table_Name" >crypto_month</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select * from <include refid="Table_Name"/>
            where symbol = #{symbol} and day = #{day}
    </select>

    <insert id="insert" parameterType="com.yh.bigdata.tts.common.binance.model.Candlestick" >
        insert into <include refid="Table_Name" />
         ( <include refid="Insert_Base_Column_List" /> )
        values (#{symbol}, #{day}, #{open}, #{high}, #{low}, #{close}, #{lastClose}, #{volume}, #{amount}
          , #{ma5}, #{ma10}, #{ma20}, #{ma30}, #{ma60}, #{dea}, #{dif}, #{macd}, now(), now())
    </insert>
  
    <update id="updateByPrimaryKey" parameterType="com.yh.bigdata.tts.common.binance.model.Candlestick" >
    update <include refid="Table_Name"/>
      set update_time = now()
        <if test="open != null">
           , open = #{open}
        </if>
        <if test="high != null">
           , high = #{high}
        </if>
        <if test="low != null">
           , low = #{low}
        </if>
        <if test="close != null">
           , `close` = #{close}
        </if>
        <if test="lastClose != null">
           , last_close = #{lastClose}
        </if>
        <if test="volume != null">
           , volume = #{volume}
        </if>
        <if test="amount != null">
           , amount = #{amount}
        </if>
        <if test="ma5 != null">
           , ma5 = #{ma5}
        </if>
        <if test="ma10 != null">
           , ma10 = #{ma10}
        </if>
        <if test="ma20 != null">
           , ma20 = #{ma20}
        </if>
        <if test="ma30 != null">
           , ma30 = #{ma30}
        </if>
        <if test="ma60 != null">
           , ma60 = #{ma60}
        </if>
        <if test="dea != null">
           , dea = #{dea}
        </if>
        <if test="dif != null">
            , dif = #{dif}
        </if>
      <if test="macd != null">
           , macd = #{macd}
        </if>
    where symbol = #{symbol} and day = #{day}
    </update>

    <select id="selectAll" resultMap="BaseResultMap" >
        select
          <include refid="Base_Column_List" />
         from <include refid="Table_Name" />
          <where>
            <if test="symbols != null and symbols.size() > 0 ">
                and symbol in
                <foreach collection="symbols" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>